<div class="main_ctm_blog_sorting">
  <div class="blog_title_bradcumb">
    <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ blog.title | escape }}
    </h1>
  </div>
  <div class="page_sorting-tag">
    {% assign rendered_tags = '' | split: ',' %}

    {% for block in section.blocks %}
      {% assign current_tag = block.settings.tag_name %}
      {% unless rendered_tags contains current_tag %}
        {% assign rendered_tags = rendered_tags %}
        <span>
          <a href="{{ blog.url }}/tagged/{{ current_tag | handle }}">{{ current_tag }}</a>
        </span>
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Blog Sorting with Title",
  "class": "blog_sorting_and_title",
  "settings": [],
  "blocks": [
    {
      "type": "blog_sorting",
      "name": "Sorting",
      "settings": [
        {
          "type": "text",
          "label": "Tag Name",
          "id": "tag_name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Sorting"
    }
  ]
}
{% endschema %}
